[data-theme="light"] {
  --app-background-color: var(--color-g2);
  --app-font-color: #000;

  /* header */
  --header-box-shadow: 0 2px 6px #ccc;

  /* sidebar */
  --sidebar-box-shadow: 0 4px 6px #ccc;

  /* modal */
  --modal-box-shadow: 0 0 6px #ccc;

  /* loader */
  --loader-default-color: #000;
}
