/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  height: 50px;
  padding: 10px 16px;
  grid-area: header;
  display: flex;
  align-items: center;
  box-shadow: var(--header-box-shadow);
}

.sidebar {
  grid-area: sidebar;
  box-shadow: var(--sidebar-box-shadow);
}

.main {
  padding: 16px;
  grid-area: main;
}
