.button {
  border-radius: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s;
}

.primary {
  padding: 10px 15px;
  color: #fff;
  background-color: red;
}

.secondary {
  padding: 5px 10px;
  color: #fff;
  background-color: burlywood;
}

.disabled {
  cursor: not-allowed;
  filter: grayscale(80%);
}
